<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UdpFloodApp.App" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <UdpFloodApp.App>
            <setting name="PortNumber" serializeAs="String">
                <value>51999</value>
            </setting>
            <setting name="PacketSizeInBytes" serializeAs="String">
                <value>2500</value>
            </setting>
            <setting name="NumberOfPacketsPerSecond" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>False</value>
            </setting>
        </UdpFloodApp.App>
    </applicationSettings>
</configuration>